.ui.card {
  margin: 0.4em;
}

div[class='ui brown card'] {
  width: 180px;
}

.ui.card .content .header {
  font-size: 1.1rem;
}

.ui.card .content .extra.content {
  margin-top: 0.5rem;
}

.image img {
  height: 230px;
  width: 180px;
}
