<div class="background">
  <div class="overlay">
    <div class="ui content container">
      <div class="ui stackable grid">
        <div class="five wide column">
          <img
            class="ui fluid image"
            src="http://t2.gstatic.com/images?q=tbn:ANd9GcQ-VY5cjeq-HcRzfG3ofhcEhXFE06-Ev2xohkP9pY3MKNrkgRxp"
          />
          <div class="genres">
            <a class="ui brown tag label">Action</a>
            <a class="ui brown tag label">Adventure</a>
            <a class="ui brown tag label">Thriller</a>
          </div>
        </div>
        <div class="seven wide column">
          <div class="ui raised segment">
            <a class="ui brown ribbon label"> <i class="book icon"></i>Plot</a>
            <span class="ui header">Hobbs and Shaw</span>
            <p>
              Lawman Luke Hobbs and outcast Deckard Shaw form an unlikely
              alliance when a cyber-genetically enhanced villain threatens the
              future of humanity.
            </p>
            <a class="ui ribbon label"> <i class="info icon"></i> Details </a>
            <div class="detail">
              <i class="user secret icon"></i> Director: John Doe
            </div>
            <div class="detail">
              <i class="pencil alternate icon"></i> Writers: Jahn Doe, Genn Blue
            </div>
            <div class="detail"><i class="user icon"></i> Actors: John Doe</div>
            <div class="detail">
              <i class="calendar alternate icon"></i> Released date: 12/20/2019
            </div>
            <div class="detail">
              <i class="star icon"></i>6.6 <i class="clock icon"></i>
              2h 17min
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
